// color code
$black: #000000;
$night-dark: #1f1f1f;
$night-rider: #333333;
$eclipse: #373737;
$charcoal: #444444;
$dim-grey: #666666;
$suva-grey: #8a8a8a;
$grey: #888888;
$nobel: #999999;
$grey-chateau: #9fa7ae;
$dark-grey: #aaaaaa;
$heather: #adb4ba;
$silver: #c5c5c5;
$light-grey: #d2d2d2;
$very-light-gray: #cccccc;
$gainsboro: #dcdcdc;
$whisper: #ebebeb;
$white-smoke: #f3f3f3;
$snow: #fafafa;
$white: #ffffff;
$pacific-blue: #0088cc;
$lochmara: #1668a2;
$denim: #1579be;
$navy-blue: #1482d8;
$dodger-blue: #0094ff;
$summer-sky: #32a7e8;
$tweet-summer-sky: #4aa0eb;
$maya-blue: #66bbff;
$malibu: #50b4ed;
$light-sky-blue: #93c8f6;
$jordy-blue: #7dabd5;
$pattens-blue: #cce7f5;
$alice-blue: #f3f6fb;
$free-speech-red: #de0100;
$red: #ff0000;
$coral-red: #ff4141;
$cosmos: #f8d5d0;
$bluewood: #34385e;
$orient: #006080;
$bismark: #4b6a88;
$wild-blue: #8286b1;
$sherpa-blue: #005051;
$teal: #007a7c;
$paco: #3d1410;
$old-brick: #96281b;
$granadier: #db3700;
$pumpkin: #b75b0b;
$nutmeg: #804028;
$camarone: #005500;
$japanese-laurel: #068a15;
$malachite: #20cd34;
$chalet-green: #64783e;
$wine-berry: #522032;
$voodoo: #674172;
$camelot: #7d314c;
$pink: #ff00d4;
$antique-bronze: #634806;
$fuscous-gray: #555344;
$yellow: #bc9e0c;
$white-rgb: 255, 255, 255;
$black-rgb: 0, 0, 0;
$red-rgb: 255, 0, 0;
$grey-rgb: 136, 136, 136;
$white-smoke-rgb: 239, 239, 239;

// component variables
$header-height: 50px;
$footer-background-color-main: $night-dark;
$footer-background-color-body: $night-rider;
$body-color: $silver;
$body-color-main: white;

$table-header-background-color: $tweet-summer-sky;
$table-header-color: $snow;
$table-row-border-color: $dim-grey;

$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-m: 12px;
$space-l: 16x;
$space-xl: 24px;
$space-xxl: 32px;
