@import "variables";
.home {
  margin: 1rem;
  //text-align: center;
  p {
    font-size: 2rem;
  }

  img {
    width: 400px;
  }

  .contract-divider {
    border-bottom: 1px solid $yellow;
  }

  .game {
    margin-bottom: 2rem;
    margin-left: 100px;

    button:not(.mat-button-disabled) {
      color: white;
      &.even {
        background-color: $japanese-laurel;
      }

      &.odd {
        background-color: $old-brick;
      }

      &.number {
        background-color: $denim;
      }
    }
  }
}
