@import "variables";
.header {
  .example-spacer {
    flex: 1 1 auto;
  }
  .link {
    text-decoration: none;
    margin-left: 100px;
    color: inherit;
  }

  img {
    width: 35px;
    margin-right: 1rem;
  }
}
